/* Font */
	*{font-family: "Open Sans", "Tahoma", "Verdana", "Arial", "Sans-serif";}

/* Background site */
	body{
		background-color: rgb(20, 20, 20); 
	}
	main{
		background-color: #FFF;
	}

/* Header */
	/* Navbar */
	.navbar-inverse {background-color: rgba(0, 0, 0, 0.7); border-bottom: rgba(0, 0, 0, 0.5);}
	.navbar-inverse.onTop {background-image: none;}
	/* Brand */
	a#brand{
		padding: 0;
		margin: 5px;
		width: 200px;
		height: 45px;
		background-image: url('../img/brand-white.png'); 
		background-size: cover; 
		background-repeat: no-repeat; 
		background-position: center; 
		transition: 0.25s;
	}
	a#brand.onTop{
		width: 305px;
		height: 75px;
	}

	/* Menu items */
	nav li a{
		font-size: 18px; 
		transition: 0.25s;
	}
	nav ul.navbar-right li, nav ul.navbar-right li a{transition: 0.25;}
	nav ul.navbar-right.onTop li{padding-top: 24px;}
	nav li a.active{color: #FFF !important;}

	@media (min-width: 768px){
		.navbar-inverse.onTop {background-color: transparent; background-image: linear-gradient(to bottom, #000 0%, transparent 100%);}
	}

/* Pages */
	/* Slider */
		main.home{height: 100%;}
		.carousel-fade .carousel-inner .item {
			-webkit-transition-property: opacity;
			transition-property: opacity;
		}
		.carousel-fade .carousel-inner .item,
		.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
			opacity: 0;
		}
		.carousel-fade .carousel-inner .active,
		.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
			opacity: 1;
		}
		.carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev,
		.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
			left: 0;
			-webkit-transform: translate3d(0, 0, 0);
							transform: translate3d(0, 0, 0);
		}
		.carousel-fade .carousel-control {
			z-index: 2;
		}
		html, body, .carousel, .carousel-inner, .carousel-inner .item {
			height: 100%;
		}
		.carousel-inner .item{background-size: cover; background-position: center; background-repeat: no-repeat;}
		.item:nth-child(1) {
			background-image: url('../img/slide/1.jpg'); 
		}
		.item:nth-child(2) {
			background-image: url('../img/slide/2.jpg'); 
		}
		.item:nth-child(3) {
			background-image: url('../img/slide/3.jpg'); 
		}

	/* Jumbotron cover */
	.jumbotron{
		background-size: cover; 
		background-repeat: no-repeat; 
		background-position: center;
		padding-top: 0; 
		padding-bottom: 0;
	}
	.jumbotron .jumbotron-inner{background-color: rgba(0, 0, 0, 0.5); color: #FFF; margin: 0; padding-top: 100px; padding-bottom: 30px;}
	.jumbotron#slider-home{background-image: url('../img/jumbotron/fotos.jpg'); }
	.jumbotron#a-pousada{background-image: url('../img/jumbotron/a-pousada.jpg'); }
	.jumbotron#fotos{background-image: url('../img/jumbotron/fotos.jpg'); }
	.jumbotron#ferrugem{background-image: url('../img/jumbotron/ferrugem.jpg'); }
	.jumbotron#contato{background-image: url('../img/jumbotron/contato.jpg'); }
	/* Container */
	main#content .container{padding-bottom: 20px; }

/* Home page */
.welcome-text{
	/*position: absolute; */
	width: 100%; 
	top: 0px; z-index: 6;
	background-image: linear-gradient(to bottom, #000 0%, transparent 100%);
	text-align: center;
} 
	.welcome-text .container{
		padding-top: 75px;
		padding-bottom: 100px; 
	}

	@media (min-width: 768px){	
	.welcome-text{position: fixed;}
		.welcome-text .container{
			padding-top: 100px;
			padding-bottom: 100px; 
		}
	}

/* Footer */
	footer{
		padding-top: 10px; 
		color: #FFF; 
		text-align: center; 
		border-top: 2px solid rgba(255, 255, 255, 0.25);
	}
	footer.home{
		position: fixed; 
		width: 100%; 
		bottom: 0; 
		z-index: 6; 
		background-image: linear-gradient(to top, #000 0%, transparent 100%);
		border-top: none; 
	}
	footer #brand{
		width: 177px; 
		height: 110px; 
		background-image: url(../img/brand-footer.png); 
		background-position: top; 
		display: inline-block; 
	}
	footer.home #brand{display: none;}